@font-face{
    font-family: '0xProto Nerd Font Mono';
    src: url('./0xProtoNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html{
    scrollbar-width: none;
    scroll-behavior: smooth;
    font-family: '0xProto Nerd Font Mono', monospace;
}

body{
    padding:0;
    margin: 0;
    background: linear-gradient(to bottom, #404081, #000020 /*1c1c3f*/);
}

#navlist a{
    all: unset;
    cursor: pointer;
    border: solid 2px transparent;
    border-radius: 2rem;
    padding: 0.75rem 1.25rem;
    transition: 0.5s;
}
#navlist a:hover{
    border: solid 2px white;
}
header{
    display: flex;
    flex-direction: row;
    height: 6vh;
    width: 85vw;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    position: sticky;
    top: 2vw;
    background-color: rgba(0,0,66,0.85);
    border: solid 5px black;
    color: whitesmoke;
    backdrop-filter: blur(3px);
    z-index: 1;
}
#navlist{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 4em;
    align-items: center;
    font-size: 1.3rem;
}

.intro{
    height:100vh;
    width:100%;
    position: relative;
    background-image: url('./bg1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.introContent{
    position: absolute;
    bottom: 15vh;
    left: 10vw;
    color: white;
}
#greet{
    font-size: 1.8rem;
}
.intro p{
    font-size: 1.2rem;
}
.intro h1{
    font-size: 5rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: -1px -1px 6px #fff, 1px 1px 6px #fff, 0px 0px 20px #92aed0;
    border-bottom: solid 2px #92aed0;
    box-shadow: 0px 20px 20px -20px #92aed0;
}
.intro h1 span{
    animation: flicker 8s infinite;
}


@keyframes flicker {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    text-shadow: none;
  }
  5.1% {
    opacity: 1;
    text-shadow: none;
  }
  5.2% {
    opacity: 0;
    text-shadow: none;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: -1px -1px 6px #fff, 1px 1px 6px #fff, 0px 0px 20px #92aed0;
  }
  10.6% {
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 0;
    text-shadow: none;
  }
  15.1% {
    opacity: 1;
    text-shadow: -1px -1px 6px #fff, 1px 1px 6px #fff, 0px 0px 20px #92aed0;
  }
  15.5% {
    opacity: 1;
    text-shadow: -1px -1px 6px #fff, 1px 1px 6px #fff, 0px 0px 20px #92aed0;
  }
  15.6% {
    opacity: 0;
    text-shadow: none;
  }
  22% {
    opacity: 0;
    text-shadow: none;
  }
  22.1% {
    opacity: 1;
    text-shadow: -1px -1px 6px #fff, 1px 1px 6px #fff, 0px 0px 20px #92aed0;
  }
  27% {
    opacity: 1;
    text-shadow: -1px -1px 6px #fff, 1px 1px 6px #fff, 0px 0px 20px #92aed0;
  }
  27% {
    opacity: 1;
    text-shadow: -1px -1px 6px #fff, 1px 1px 6px #fff, 0px 0px 20px #92aed0;
  }
  27.1% {
    opacity: 0;
    text-shadow: none;
  }
  28% {
    opacity: 0;
    text-shadow: none;
  }
  28.1% {
    opacity: 1;
    text-shadow: -1px -1px 6px #fff, 1px 1px 6px #fff, 0px 0px 20px #92aed0;
  }
  30% {
    opacity: 1;
    text-shadow: -1px -1px 6px #fff, 1px 1px 6px #fff, 0px 0px 20px #92aed0;
  }
  30.1% {
    opacity: 0;
    text-shadow: none;
  }
  32% {
    opacity: 0;
    text-shadow: none;
  }
  32.1% {
    opacity: 1;
    text-shadow: -1px -1px 6px #fff, 1px 1px 6px #fff, 0px 0px 20px #92aed0;
  }
  37% {
    opacity: 1;
    text-shadow: -1px -1px 6px #fff, 1px 1px 6px #fff, 0px 0px 20px #92aed0;
  }
  37.1% {
    opacity: 0;
    text-shadow: none;
  }
  38% {
    opacity: 0;
    text-shadow: none;
  }
  38.1% {
    opacity: 1;
    text-shadow: -1px -1px 6px #fff, 1px 1px 6px #fff, 0px 0px 20px #92aed0;
  }
  42% {
    opacity: 1;
    text-shadow: -1px -1px 6px #fff, 1px 1px 6px #fff, 0px 0px 20px #92aed0;
  }
  42.1% {
    opacity: 0;
    text-shadow: none;
  }
  43% {
    opacity: 0;
    text-shadow: none;
  }
  43.1% {
    opacity: 1;
    text-shadow: -1px -1px 6px #fff, 1px 1px 6px #fff, 0px 0px 20px #92aed0;
  }
  50%,100% {
    opacity: 1;
    text-shadow: -1px -1px 6px #fff, 1px 1px 6px #fff, 0px 0px 20px #92aed0;
  }
}

.about{
    height: 65vh;
    width:100vw;
    position: relative;
    border-bottom: solid 4px #92aed0;
    border-top: solid 4px #92aed0;
}
.aboutContent{
    position: absolute;
    top: 12vh;
    left: 5vw;
    color: whitesmoke;
}
.aboutContent p{
    font-size: 3rem;
}
.aboutme{
    list-style: none;
    font-size: 2rem;
    gap: 1rem;
}
.aboutme li{
    margin: 1rem 0;
}
.aboutTitle{
    border-bottom: solid 2px #92aed0;
    font-style: italic;
}
.hobby{
    height: 35vh;
    width:100vw;
    position: relative;
}
.hobbyContent{
    position: absolute;
    top: 7vh;
    right: 20vw;
    color: white;
}
.hobbyContent p{
    font-size: 2.4rem;
}
.myhobbies{
    font-size: 1.8rem;
    list-style: none;
}

.stats{
    /*background-color: #000020;*/
    height: 40vh;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    position: relative;
}
.livestatus{
    position: absolute;
    color: white;
    font-style: italic;
    top: 12px;
    font-size: 1.3rem;
}
.statCard{
    height: 30vh;
    width:32vw;
    display: flex;
    flex-direction: column;
    background-color: #020c44;
    color:white;
    border-radius: 2rem;
    position: relative;
    border: solid 2px #92aed0;
    box-shadow: 5px 5px 5px 0px #92aed0;
}
heading{
    font-size: 1.8rem;
    font-weight: bold;
    margin: 2rem;
    border-bottom: solid 2px #92aed0;
}
#subm heading{
    margin-bottom: 0.5rem;
}
content{
    font-style: italic;
}
content img{
    height:12vh;
    width: 8vw;
    float: left;
    margin: 0 1.5rem;
    border-radius: 50%;
}
content ul{
    list-style: none;
}
content li{
    font-size: 1.3rem;
    padding: 0.2rem;
}
.stathead{
    font-weight: bold;
    border-bottom:solid 2px  #92aed0;
}
.footer{
    border-top: solid 4px #92aed0;
    height: 8vh;
    width: 90vw;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
}
.links button{
    all:unset;
    color: white;
    text-decoration: underline;
    border-radius: 2rem;
    font-size: 1.4rem;
    padding: 0.75rem 1.25rem;
    border: solid 3px transparent;
    cursor: pointer;
    transition: 0.8s;
}
.links button:hover{
    border: solid 3px #fff;
    transform: translateY(-10%);
}
.links button a{
    all: unset;

}
