html {
	scroll-behavior: smooth;
	scrollbar-width: none;
}
body {
	margin: 0px;
	background-color: #040714;
	color: #ffffff;
	background-size: cover;
	font-family: 'serif';
}

#pfp {
	width: 33em;
	height: 33em;
	border-radius: 17em;
	float:right;
	margin-right: 10em;
}

nav {
	margin-bottom: 12.5em;
	margin-top: -1.2em;
	background-color: #0f1c4d;
	padding-bottom: 0.005rem;
}

#gap {
	padding-right: 8em;
	padding-bottom: 0;
}
nav p {
	font-weight: 1000;
	padding-top: 0.5em;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	font-family: 'serif';
}

nav button {
	font-size: 1.2rem;
	background-color: #0f1c4d;
	font-weight: 600;
	color: antiquewhite;
	border: none;
	padding: 0.5em 1em;
	border-radius: 1.2rem;

}

nav p a{
	color: antiquewhite;
	text-decoration: none;
}

nav p button:hover {
	background-color: #a0a9cd;
}

.intro {
	padding-left:5em;
}

#greet {
	font-family: 'serif';
	font-size:1.5rem;

}

h2 {
	font-family: 'Jost';
	font-size:2rem;
}

#table {
	padding-left:7em;
}

#me {
	color: antiquewhite;
	font-weight: 700;
	font-size:6rem;
	font-family: 'serif';
	animation: blinker 1s linear infinite;
	margin-bottom: 2rem;
	padding: 0;
	border: none;
	background-color:#040714 ;
}

#uni {
	font-size: 1.2rem;
}

#uni a {
	color: white;
}
@keyframes blinker{
	50% {
		opacity: 0;
	}
}
p {
	font-size: 20px;
}
img {
	width: 400px;
	height: 400px;
	border-radius: 200px;
	float: right;
	margin: 30px;
}

#hobby {
	margin: 20px;
	font-size: 1.25rem;
}

#links  button {
	font-weight: 500;
	background-color: #2443b6;
	padding: 1.25em 2.5em;
	color: antiquewhite;
	font-size: 1.3rem;
	margin-right: 1em;
	border: solid black;
	border-radius: 1.5rem;
}

button:hover {
	background-color: #284bcd;
	transform: scale(1.1);
	transition: all 0.2s ease-in-out ;
}
#part1 {
	background-color: black;
	background-image: url(https://i.postimg.cc/W3BLTb2k/Haruhi-darkblue.png);
	background-size: cover;
}
#part2 {
	padding-left: 5em;
	background-color: #070d24;
	padding-bottom: -1.5em;
	margin-bottom: -1.6em;
}
#footer {
	padding-left: 5em;
	margin-top:-0.2em;
	background-color: #0f1c4d;
}
