html {
	scroll-behavior: smooth;
	scrollbar-width: none;
}
body {
    margin: 0;
    padding: 0;
	background-color: #040714;
	color: #ffffff;
	background-size: cover;
	font-family: 'serif';
}

#pfp {
	width: 33em;
	height: 33em;
	border-radius: 17em;
	float:right;
	margin-right: 10em;
}

nav {
    width: 95vw;
    border: solid black;
	text-align: center;
    padding-top: 0.5em;
    position: sticky;
    top:2em;
    backdrop-filter: blur(10px);
    z-index: 99;
	margin-bottom: 12.5em;
	background-color: rgba(15,28,77,0.6);
	padding-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

#gap {
	padding-right: 8em;
	padding-bottom: 0;
}
nav #bar {
	font-weight: 1000;
	padding-top: 0.5em;
	font-size: 1.2rem;
	font-weight: bold;
	font-family: 'serif';
}

nav button {
	font-size: 1.2rem;
	background-color: rgba(15,28,77,0);
	font-weight: 600;
	color: antiquewhite;
	border: none;
	padding: 0.5em 1em;
	border-radius: 1.2rem;
	transition: all 0.2s ease-in-out ;

}

nav #bar a{
	color: antiquewhite;
	text-decoration: none;
}

nav #bar button:hover {
	background-color: #a0a9cd;
}

.intro {
	padding-left:5em;
}

#greet {
	font-family: 'serif';
	font-size:1.5rem;

}

h2 {
	font-family: 'Jost';
	font-size:2rem;
}

#table {
	padding-left:7em;
}

#me {
	color: antiquewhite;
	font-weight: 700;
	font-size:6rem;
	font-family: 'serif';
	margin-bottom: 2rem;
	padding: 0;
	border: none;
	background-color:rgba(0,0,0,0) ;
	transition: all 0.2s ease-in-out ;
}
#uni {
	font-size: 1.2rem;
}
#uni a{
    color: white;
}
p {
	font-size: 20px;
}
img {
	width: 400px;
	height: 400px;
	border-radius: 200px;
	float: right;
	margin: 30px;
}

#hobbies {
	font-size: 1.25rem;
}

#hobbies h2 {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
#hobbies li {
	margin: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.8em;
    padding-left: 0.8em;
    list-style: none;
    margin: 10px;
    border: solid white;
    border-width: 2px;
    margin-right: 0;
    width: fit-content;
}
#links  button {
	font-weight: 500;
	background-color: #2443b6;
	padding: 1.25em 2.5em;
	color: antiquewhite;
	font-size: 1.3rem;
	margin-right: 1em;
	border: solid black;
	border-radius: 1.5rem;
	transition: all 0.2s ease-in-out ;
}

button:hover {
	background-color: #284bcd;
	transform: scale(1.1);
}
#part1 {
	background-color: #04071c;
	background-size: cover;
}
#part2 {
    padding-top: 0.2em;
	padding-left: 5em;
	background-color: #070d24;
	padding-bottom: -1.5em;
	margin-bottom: -1.6em;
}

#footer {
	padding-left: 5em;
	margin-top:-0.2em;
	background-color: #0f1c4d;
}
